[submodule "example3/globals"]
	path = example3/globals
	url = git@github.com:ncrescenzio/globals.git
[submodule "example3/linear_algebra"]
	path = example3/linear_algebra
	url = git@github.com:ncrescenzio/linear_algebra.git
[submodule "example3/geometry"]
	path = example3/geometry
	url = git@github.com:ncrescenzio/geometry.git
[submodule "example3/p1galerkin"]
	path = example3/p1galerkin
	url = git@github.com:ncrescenzio/p1galerkin.git
